.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    border-color: #cccccc;
    border-style: solid;
    border-width: medium;
    padding: 20px;
    margin-left: 10%;
    width: 245px;
    margin-right: 50px;
    text-align: center;
    
}


.main {
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: relative;
    left: 61px;
    width: 960px;
    padding: 22px;
    margin: 2%;
}

.photo {
    position: relative;
    right: -47px;
    padding-top: 13%;

}

.toolbar {
    width: 960px;
    position: relative;
    left: 60px;
    margin: 2%;

}
  

.paragraph {
    margin-left: 130px;
}


.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    
        color: white;
        text-align: center;
        background-color: #666666;
        padding: 20px;
    
}
